body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;
    
}

#footericon{
  
    color: white;

}

#textcompany{
  color: white;
}

h6,p{

    color: white;
}


.mt-0 {
    margin-top: 0 !important;
  }
  
  .ms-1 {
    margin-left: ($spacer * .25) !important;
  }
  
  .px-2 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
  }
  
  .p-3 {
    padding: $spacer !important;
  }

  .about{

    text-shadow:2px 2px 3px rgb(13, 9, 9);
    
  }
